.config/autostart
.config/browser-launcher2
.config/cef_user_data
.config/chromium
.config/configstore
.config/dconf
.config/docapp-nativefier-36fb66
.config/docplayer-nativefier-573c32
.config/EgoSoft
.config/Electron
.config/freerdp
.config/gconf
.config/gtk-2.0
.config/gtk-3.0
.config/libreoffice
.config/manuelschneid3r
.config/menus
.config/mimeapps.list
.config/mirage
.config/mypaint
.config/nitrogen
.config/parcellite
.config/pavucontrol.ini
.config/pulse
.config/pulseaudio-ctl
.config/qutebrowser
.config/responseware-nativefier-aad1a3
.config/Skype
.config/spotify
.config/Springseed
.config/styluslabs
.config/sublime-text-3
.config/Thunar
.config/tilem2
.config/Trolltech.conf
.config/unity3d
.config/VirtualBox
.config/xfce4
.config/Yubico
